*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: white;
}

.titre{
    font-size: 2rem;
    margin-left: -4rem;
  }
  .titre a{
      text-decoration: none;
      color: black;
  }
  
  .computer{
      height: 3.5rem;
      width: 3.5rem;
      background-color: brown;
      border-radius: 100%;
      border: 2px solid blue;
      color: white;
      padding-left: 1rem;
      padding-top: 1rem;
      margin-left: 1rem;
  }
  .display{
      display: flex;
      margin-top: 2rem;
      justify-content: space-around;
  }
  
  .recherche{
      height: 2.5rem;
      width: 32rem;
      border:1px solid black;
      border-radius: 50px;
      padding-left: 1rem;
  }
  
  .profil{
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
      margin-right: 2rem;
  }
  
  .panier{
      height: 2rem;
      width: 2rem;
  }
  .grand{
      display: flex;
      justify-content: center;
      justify-content: space-around;
      align-items:flex-end;
  }
hr{
    margin-top: 2.5rem;
}

.end{
    display: flex;
    justify-content: space-between;
}

.display1{
    display: flex;
    margin-top: 1rem;
    margin-right: 5rem;
}
.logo{
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}

nav ul{
    display: flex;
    
}
nav ul li{
    margin-left: 3rem;
    margin-top: 2rem;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: black;
}

.bleu{
    background-color: rgb(1, 1, 100);
    height: 7rem;
    margin-top: 1.5rem;
}

.fourni{
    color :white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 3rem;
    position: absolute;
    margin-top: 2rem;
}

table{
    margin: 1rem auto;
    text-align: center;
    width: 100%;
    max-width: 80%;
    border-collapse: collapse;
    border:1px solid;
    height: 12rem;
    margin-top: 3rem;
}


thead{
    background-color: gray;
    height: 4rem;
}
button{
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1rem;
    cursor: pointer;
}
.increment{
    display: flex;
    justify-content: center;
}
.carre1{
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid black;
    margin-left: 1rem;

}
.carre1 p{
    text-align: center;
    margin-top: 0.7rem;
}

.rang1{
    height: 2rem;
    width: 35rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: rgb(183, 183, 183);
}
.rang2{
    height:10rem;
    width: 35rem;
    border: 1px solid black;
}

.font{
    font-size: 25px;
    font-weight: bold;
}

.droit{
    float: right;
    margin-right: 4.5rem;
    margin-top: 8rem;
}
.button1{
    height: 2rem;
    width: 10rem;
    background-color: rgb(1, 1, 100);
    border-radius: 10px;
    color: white;
    font-weight: bold;

}
.sous{
    margin-left: 1rem;
}
.total{
    margin-left: 10rem;
}

.button2{
    height: 2rem;
    width: 10rem;
    background-color: rgb(1, 1, 100);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: -1px;

}

footer{
    height: 7rem;
    width: 100%;
    background-color: rgb(1, 1, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35rem;
}

footer .copy{
    color:white;
    font-weight: bold;
}

.put{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 7.2rem; 
}

.rang3{
    height: 2rem;
    width: 35rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: rgb(183, 183, 183);;
}

.rang3 .total{
    margin-left: 12rem;
}

.espace1{
    height: 3rem;
    width: 7rem;
    border: 1px solid black;  
}

.tbody{
    margin-top: 1rem;
}

.sup{
height: 2rem;
width: 2rem;
background-color: red;
margin-right: 1rem;
}

#titre-panier{
margin-top: 2rem;
}

#titre-panier p{
    margin-left: 3.5rem;
}

















